/** {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
*/

a {
    color: #0080ff;
}

a:hover {
    text-decoration:none;
}

#nav-panel {
    background-color: #0080ff;
    height: 85px;
    color: white;
}

#nav-img {
    filter: invert(1);
    margin-left: 80px;
    margin-top: 24px;
}

.card-img-top {
    width: 100%;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    color: #EF5330;
}

.title h2,
h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#page-title {
    font-size: 28pt;
    margin-left: 88.5px;
    font-family: "Helvetica", serif;
    display: inline-block;
    font-weight: 700;
    margin-top: 16px;
}

.submit-button {
    border: 2px solid;
    font-weight: 800;
    float: right;
    margin-right: 88.5px;
    margin-top: 22px;
}

.button {
    background-color: #FFFFFF;
    color: #14BACC;
    /*padding: 0.5em 1.25em 0.35em 1.25em;*/
    border-radius: 3px;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
    float: right;
    width: 88px;
    height: 34px;
    margin-right: 88.5px;
    margin-top: 24.25px;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.admin-container {
    margin-top: 100px;
}

.green {
    background-color: #029c00;
     !important
}

.card-title {
    font-weight: 800;
}

.actions {
    width: 30%;
}

.modal-title {
    font-weight: 800;
}

.featured-container {
    margin-top: 30px;
}

.section-title {
    font-size: 30px;
}

.cross {
    display: none;
}

.tag-unclicked {
    background-color: #a0a0a0;
}

.tag-unclicked:hover {
    background-color: #4c4c4c !important;
}

.cross-clicked {
    display: inline-block;
}

.invisible {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 0 1 30% !important;
    margin-top: 20px;
}

.card-deck {
    justify-content: space-between;
}

.card-deck:after {
    content: "";
    flex: auto;
}

.bottom-margin-small {
    margin-bottom: 20px;
}

.bottom-margin-medium {
    margin-bottom: 40px;
}

.bottom-margin-large {
    margin-bottom: 100px;
}


/* Main carousel style */

.carousel {
    width: 600px;
}

/* Indicators list style */

.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}

/* Indicators list style */

.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}

/* Indicators images style */

.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}

/* Indicators active image style */

.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

a.no-deco {
    color: inherit;
    text-decoration: none;
}

a.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}

a.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

a.github-user {
    color: #17d3ff;
}

.round-img {
    border-radius: 50%;
}

/* Project Page Styles */

.project-title {
    font-size: 28pt;
}

.project-description,
.project-tagline {
    font-size: 14.3pt;
}

.developers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-developer {
    font-size: 11pt;
}

/* Admin page */

.admin-header-container {
  display: flex;
  justify-content: space-between;
}

/* Admin tags page */

.header-container {
  display: flex;
}

.tags-title {
  display: inline;
  font-size: 50px;
}

.add-tag-button {
  display: inline;
  margin-left: 14px;
  font-size: 22px;
}

.inline-form {
  display: inline;
}
