{% extends 'base.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<body onload='pageLoad()'>
  <div class='container'>
    <div class='admin-container'>
      <div class='admin-header-container'>
        <h3 class="display-4">Admin Panel</h3>
        <a href='/admin/tags'>
          <button id="edit_tags_btn" type="button" class="btn btn-info btn-lg">Edit Tags</button>
        </a>
      </div>
      <div class="card">
        <div class='card-header'>
          <small class='text-muted'>FILTER PROJECTS</small>
        </div>
        <div class="card-body">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="approved-checkbox" value="option1" onclick='checkboxAction()'>
            <label class="form-check-label active" for="inlineCheckbox1"><span class="badge badge-pill badge-success">Approved</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="pending-checkbox" value="option2" onclick="checkboxAction()">
            <label class="form-check-label active" for="inlineCheckbox2"><span class="badge badge-danger badge-pill">Pending</span>
            </label>
          </div>
          <div class="form-check form-check-inline active">
            <input class="form-check-input active" type="checkbox" id="feedback-checkbox" value="option1" onclick='checkboxAction()'>
            <label class="form-check-label active" for="inlineCheckbox1">
              <span class="badge badge-warning badge-pill">Feedback sent</span>
            </label>
          </div>
          <div class="form-check form-check-inline active">
            <input class="form-check-input active" type="checkbox" id="featured-checkbox" value="option1" onclick='checkboxAction()'>
            <label class="form-check-label active" for="inlineCheckbox1">
              <span class="badge badge-secondary badge-pill">Featured</span>
            </label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <table class="table table-striped table-hover" id='adminTable'>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Project name</th>
            <th scope="col">Developers</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr
                {% if item.status=="approved" %} class='approved {{ item.id }}'
                {% elif item.status=='submitted' %} class='submitted {{ item.id }}'
                {% else %} class='pending {{ item.id }}'
                {% endif %}
                >
                <th scope="row">{{ item.id }}</th>
                <td>
                {% if item.status == "approved" %}
                <a href='/project/{{ item.id }}'> {{ item.name }} </a>
                {% else %}
                <a href='/draft/{{ item.id }}'> {{ item.name }} </a>
                {% endif %}
                {% if item.status == "approved" %}
                <span class="badge badge-pill badge-success">Approved</span>
                {% if item.is_featured == "true" %}
                <span class="badge badge-pill badge-secondary">Featured</span>
                {% endif %}
                {% elif item.status == 'pending' %}
                <span class="badge badge-pill badge-danger">Pending</span>
                {% else %}
                <span class="badge badge-pill badge-warning">Feedback sent</span>
                {% endif %}
                </td>
                <td>{{ item.developers}} </td>
                <td class='actions'>
                  {% if item.status=='approved' %}
                  <form action='/delete' method='post' class='inline-form'>
                    <input type=hidden value="{{ item.id }}"name="id_to_delete"></input>
                    <button type='submit' class='btn btn-outline-danger btn-sm' onclick="deleteRow({{ loop.index }})"> <i class='fa fa-trash'></i>  Delete project</button>
                  </form>
                    {% if item.is_featured=='false' %}
                    <form action='/feature' method='post' class='inline-form'>
                      <input type=hidden value="{{ item.id }}"name="id_to_feature"></input>
                      <button type='submit' class='btn btn-outline-secondary btn-sm' onclick="featureRows({{ loop.index }})"> <i class='fa fa-star'></i>  Make featured</button>
                    </form>
                    {% elif item.is_featured=='true' %}
                    <form action='/unfeature' method='post' class='inline-form'>
                      <input type=hidden value="{{ item.id }}"name="id_to_unfeature"></input>
                      <button type='submit' class='btn btn-outline-secondary btn-sm' onclick="featureRows({{ loop.index }})"> <i class='fa fa-star'></i>  Un-feature</button>
                    </form>
                    {% endif %}
                  {% elif item.status=='pending' %}
                  <div class='button-group'>
                    <form action='/approve' method='post'>
                      <input type=hidden value='{{ item.id }}'name='id_to_approve'style='display:inline-block;'></input>
                      <button type='submit' class='btn btn-outline-success btn-sm' onclick="approveRows({{ loop.index }})" ><i class="fa fa-check"></i>  Approve</button>
                      <button type='button' class='btn btn-outline-warning btn-sm' onclick="rejectRows({{ loop.index }})" data-toggle='modal' data-target='#exampleModal'><i class="fa fa-ban"></i>  Give feedback</button>
                    </form>

                  </div>
                  {% else %}
                  <button type='button' class='btn btn-outline-info' onclick='editFeedback({{ loop.index}})'><i class='fas fa-pencil-alt'></i>  Edit feedback</button>
                  {% endif %}
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add feedback</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Feedback for {{ item.name }}</label>
                            <textarea class="form-control" id="feedback-form" rows="3" name='feedbackform'></textarea>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick='eraseText()'>Close</button>
                          <form action='/admin' method='post'>
                            <button type='submit' class='btn btn-primary' data-dismiss='modal' name='myform' onclick='eraseText()'>Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</body>
{% endblock %}

{% block script %}
  <script src='../static/js/index.js'></script>
{% endblock %}
