{% extends 'base.html' %}

{% block title %}Submit a project | ScriptEd{% endblock %}

{% block content %}
<body>
  <div class="container">
    <div class="header">
      <br>
      <br>
      <h6 class="display-4">Submit a project</h6>
    </div>
    <form class='needs-validation' novalidate>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="form-group">
            <label class="control-label requiredField" for="name">
              Project Name
              <span class="asteriskField">*</span>
            </label>
            <input class="form-control" id="name" name="name" type="text" required />
            <div class='invalid-feedback'>
              Please provide a project name.
            </div>
          </div>

          <div class="form-group">
            <label class="control-label requiredField" for="text" required>
              Screenshots
              <span class="asteriskField">*</span>
            </label>
            <input class="form-control" id="screenshot" name="screenshot" type="file" />
            <span class="help-block" id="hint_text">
              Please upload at least one image
            </span>
            <div class='invalid-feedback'>
              Please upload at least one image
            </div>
          </div>

          <div class="form-group">
            <label class="control-label requiredField" for="select">
              Number of developers
              <span class="asteriskField">*</span>
            </label>
            <select class="select form-control" id="num_developers" name="num_developers" onchange="changeNumDeveloperForms()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>

          <div class="form-group" id='developers'>
            <label class="control-label requiredField" for="name1">
            Developer name(s)
              <span class="asteriskField">*</span>
            </label>
            <input class="form-control dev-option" id="developers0" name="developers" type="text" />
            <div>
              {% for x in range(5)%}
                <input class="form-control dev-option" id='developers{{x+1}}' name="developers" type="hidden" />
              {%endfor %}
            </div>
          </div>

          <div class="form-group">
            <label class="control-label " for="name2">
            Github username(s)
            </label>
<input class="form-control" id="github_usernames" name="github_usernames" type="text" />
          </div>

          <div class="form-group">
            <label class="control-label requiredField" for="text1">
            One-line description
            <span class="asteriskField">*</span>
            </label>
            <input class="form-control" id="description" name="description" type="text" />
          </div>

          <div class="form-group">
            <label class="control-label" for="url">URL</label>
            <input class="form-control" id="link" name="link" type="text" />
            <span class="help-block" id="hint_url">
            Can be a link to the live project or to the project demo deck
            </span>
          </div>

          <div class="form-group">
            <label class="control-label " for="url1">
            Github Repository URL
            </label>
            <input class="form-control" id="github_repo" name="github_repo" type="text" />
          </div>

          <div class="form-group">
            <label class="control-label requiredField" for="textarea">
              Long description
              <span class="asteriskField">*</span>
            </label>
            <textarea class="form-control" cols="40" id="long_description" name="long_description" rows="10"></textarea>
            <span class="help-block" id="hint_textarea">
              Include:
              - Goal of project
              - Technical hurdles
              - What's next for the project
            </span>
          </div>

          <div class="form-group">
            <label class="control-label" for="textarea">
              Tags
            </label>
              <div>
                {% for tag in tags %}
                <input type='hidden' class='tag {{ loop.index }}' value='false' name='tag-{{ loop.index }}'>
                <a href="#/" class="badge badge-pill badge-primary {{ tag.color }} {{ tag.tag }} tag-unclicked" onclick='badgeSubmitted({{ loop.index }})' id="{{ loop.index }}">{{ tag.tag }}  <div class='cross'>&times;</div></a>
                {% if loop.index % 5 == 0 %}
                <br>
                {% endif %}
                {%endfor %}
              </div>
          </div>

          <div class="form-group">
            <label class="control-label requiredField" for="program_attended">
              Program attended
              <span class="asteriskField">*</span>
            </label>
            <select class="select form-control" id="program_attended" name="program_attended" name="select1">
              <option value="Foundations">Foundations</option>
              <option value="Advanced">Advanced</option>
              <option value="Internships">Internships</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label requiredField" for="text">
              Email
              <span class="asteriskField">*</span>
            </label>
            <input class="form-control" id="email" name="email" type="email" />
            <span class="help-block" id="hint_text">
              Please enter an email we can contact you with.
            </span>
          </div>

          <div class="form-group">
            <button class="btn btn-primary " name="submit" type="submit" id="btn_submit">
              Submit
            </button>
          </div>

          </div>
        </div>
       </form>
      </div>
    </div>
  </body>
{% endblock %}

{% block script %}
  <script src='../static/js/index.js'>
  </script>

  <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() == false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

  </script>
{% endblock %}
