{% extends 'base.html' %}

{% block content %}

  <div class='container'>
    <div class='row'>
      <div class='featured-container'>
        <h6 class='display-4 section-title'>Featured projects</h6>
        <div class='section-underline'></div>
      </div>
    </div>
    <div class='filter-container'>
      <div class='card'>
        <div class='card-body'>
          {% for tag in tags %}
          <a href="#/" class="badge badge-pill badge-primary {{ tag.color }} {{ tag.tag }} tag-unclicked" onclick='badgeClicked({{ loop.index }})' id="{{ loop.index }}">{{ tag.tag }}  <div class='cross'>&times;</div></a>
          {% if loop.index % 3 == 0 %}
            <br>
          {% endif %}
          {%endfor %}
        </div>
      </div>
      <section class='cards'>
      <div class='card-deck'>
        {% for project in data %}
	<div class="card shadow project
          {% for tag in project['tags'] %}
            {{ tag.tag }}
          {% endfor %}
          ">
  	  <img class="card-img-top" src="https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ project['name'] }} </h5>
            <small class='text-muted'>John Smith & George Smith </small>
            <p class="card-text">This is an example short description.</p>
            {% for tag in project['tags'] %}
            <a href='#/' class="badge badge-pill badge-info {{ tag.tag }}" style='background-color: {{ tag.color }} !important;'>{{ tag.tag }}</a>
            {% endfor %}
          </div>
          </div>
	{% endfor %}
      </div>
  </div>
      </section>

      {% endblock %}
