{% extends 'base.html' %}

{% block title %}Log In to Admin Panel{% endblock %}

{% block content %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <body>
    <div class='container'>
      <div class="card login-card">
        <h5 class="card-header">Log in</h5>
        <div class="card-body">
          <form action ="" method = "post">
            <input type='text' placeholder="Username" name='username' value "{{ request.form.username }}">
            <input type='password' placeholder="Password" name='password' value='{{ request.form.password }}'>
            <input class='btn btn-primary' type='submit' value='Login'>
          </form>
        </div>
      </div>
      {% if error %}
        <small class='error'><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
{% endblock %}
