<html lang="en">

<head>
    <title>Title | ScriptEd</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

    <div class="container pt-5 pb-5">
        <div class="header">
            <nav class="navbar">
                <div class="col-xs-3">
                    <img src="../static/CN_Logo.png" class="img-responsive">
                </div>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="mx-auto">
        <div class="clearfix">
            <div class="col-md-offset-2 col-md-7">
                <h1 class="project-title">Project Name</h1>
                <h3 class="pt-2 project-tagline">Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
            </div>
        </div>
        <div class="pt-5">
            <div class="mx-auto carousel slide article-slide" id="article-photo-carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner cont-slider">

                    <div class="item active">
                        <img class="img-responsive" alt="" title="" src="http://placehold.it/800x500">
                    </div>
                    <div class="item">
                        <img class="img-responsive" alt="" title="" src="http://placehold.it/800x500">
                    </div>
                    <div class="item">
                        <img class="img-responsive" alt="" title="" src="http://placehold.it/800x500">
                    </div>
                    <div class="item">
                        <img class="img-responsive" alt="" title="" src="http://placehold.it/800x500">
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                        <img class="img-responsive" alt="" src="http://placehold.it/250x180">
                    </li>
                    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                        <img class="img-responsive" alt="" src="http://placehold.it/250x180">
                    </li>
                    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                        <img class="img-responsive" alt="" src="http://placehold.it/250x180">
                    </li>
                    <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                        <img class="img-responsive" alt="" src="http://placehold.it/250x180">
                    </li>
                </ol>
            </div>

            <div class="clearfix">
                <div class="col-md-offset-2 col-md-7">
                    <h2>Developer(s)</h2>
                </div>
            </div>

            <div class="developers col-md-offset-2 col-md-8 pt-5 text-center">
                <div>
                    <img src="http://via.placeholder.com/150x150" class="rounded-circle img-responsive">
                    <h4 class="project-developer"> Name goes here<br>Github username </h4>
                </div>
                <div>
                    <img src="http://via.placeholder.com/150x150" class="rounded-circle img-responsive">
                    <h4 class="project-developer"> Name goes here<br>Github username </h4>
                </div>
                <div>
                    <img src="http://via.placeholder.com/150x150" class="rounded-circle img-responsive">
                    <h4 class="project-developer"> Name goes here<br>Github username </h4>
                </div>
                <div>
                    <img src="http://via.placeholder.com/150x150" class="rounded-circle img-responsive">
                    <h4 class="project-developer"> Name goes here<br>Github username </h4>
                </div>
            </div>
        </div>

        <div class="pt-5 col-md-offset-2 col-md-8 clearfix">
            <h4 class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        </div>

        <div class="pt-5 col-md-offset-2 col-md-2 clearfix">
            <h2>See It Live:</h2>
            <ul class="list-group text-center">
                <li class="list-group-item">
                    <h4>GitHub <i class="fab fa-github"></i></h4>
                </li>
                <li class="list-group-item">
                    <h4>Live Link <i class="fas fa-link"></i> </h4>
                </li>
            </ul>

        </div>

    </div>
    <div class="clearfix col-xs-12">

        <footer class="clearfix footer">
            <p>&copy; Company 2015</p>
        </footer>
    </div>

    <script>
        $(function() {
            $('#btnSubmit').click(function() {

                $.ajax({
                    url: '/submit',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>

</html>