{% extends 'base.html' %}

{% block title %}Project Gallery{% endblock %}

{% block content %}
<body onload='parseDevNames("{{ data.developers }}", "{{ data.github_usernames }}")'>
  <div class='container'>
    <div class='row'>
      <br>
      <br>
      <br>
      <div class='col text-center'>
        <div class='display-4'>{{ data.name }}</div>
      </div>
    </div>
    <br>
    <div class='col'>
      <div class='text-center'>
        <img src="../{{ data.screenshot }}" onerror='makeDefaultImage(this)' width='700px'/>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='display-4 section-title'>Tags</div>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        {% for tag in data['tags'] %}
        <span class="badge badge-pill badge-primary" style='background-color: {{ tag.color }} !important;'>{{ tag.tag }}</span>
        {% endfor %}
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='display-4 section-title'>Developers</div>
      </div>
    </div>
    <div class= 'row' id='image-row'>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='display-4 section-title'>Description</div>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        {{ data.long_description }}
      </div>
    </div>
  </div>
</body>
{% endblock %}


{% block script %}

  <script src='../static/js/index.js'></script>
{% endblock %}
