<html lang="en">

<head>
    <title>Title | ScriptEd</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">ScriptEd</h3>
        </div>
    </div>

    <div class="mx-auto text-center clearfix">

        <h1 class="text-center">Project Name</h1>
        <img src="http://via.placeholder.com/400x300" class="rounded mx-auto d-block">
        <div class="pt-5">
            <h2>Developer(s)</h2>
            <div class="col-md-offset-3 col-md-2">
                <img src="http://via.placeholder.com/150x150" class="rounded-circle">
                <h4> Name goes here</h4>
                <h4> Github username </h4>
            </div>
            <div class="col-md-2">
                <img src="http://via.placeholder.com/150x150" class="rounded-circle">
                <h4> Name goes here</h4>
                <h4> Github username </h4>
            </div>
            <div class="col-md-2">
                <img src="http://via.placeholder.com/150x150" class="rounded-circle">
                <h4> Name goes here</h4>
                <h4> Github username </h4>
            </div>
        </div>

        <div class="col-xs-offset-2 col-xs-8 clearfix">
            <h5>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div>

    </div>

    <footer class="footer">
        <p>&copy; Company 2015</p>
    </footer>

    <script>
        $(function() {
            $('#btnSubmit').click(function() {

                $.ajax({
                    url: '/submit',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>

</html>
