{% extends 'base.html' %}

{% block title %}
  Project Gallery
{% endblock %}

{% block header_buttons %}
  <a class='btn btn-outline-light submit-button' href='/submit'>Submit</a>
{% endblock %}

{% block content %}

<body onload='parseDevNames("{{ data.developers }}", "{{ data.github_usernames }}")'>
    {% if isdraft=="true" %}
    <div class='alert alert-warning alert-dismissible fade show text-center' role='alert'>
        This project is a draft and has not been approved yet. <strong>
      <a href='/approve?id={{ data.id }}'>Approve this project</a></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endif %}
    <div class='container'>
        <div class='row'>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style='display:none;' id='draft-alert'>
                <strong>This project is a draft and has not been approved yet.</strong> Approve this project
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class='container'>
                <div class='row'>
                    <br>
                    <br>
                    <br>
                    <div class='col text-left'>
                        <h1 class="project-title">{{ data.name }}</h1>
                        <h3 class="project-tagline">{{ data.description }}</h3>
                    </div>
                </div>
                <br>
                <div class='col'>
                    <div class='text-center'>
                        <img src="../{{ data.screenshot }}" onerror='makeDefaultImage(this)' width='700px' class="img-responsive" />
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <div class='display-4 section-title'>Tags</div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        {% for tag in data['tags'] %}
                        <span class="badge badge-pill badge-primary" style='background-color: {{ tag.color }} !important;'>{{ tag.tag }}</span> {% endfor %}
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <div class='display-4 section-title'>Developers</div>
                    </div>
                </div>
                <div class='row' id='image-row'>
                </div>
                <div class='row'>
                    <div class='col'>
                        <div class='display-4 section-title'>Description</div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        {{ data.long_description }}
                    </div>
                </div>

                <div class="col-md-4 row">

                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            <a href=" {{ data.github_repo }} ">
                                <h6>GitHub <i class="fab fa-github"></i></h6>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href=" {{ data.link }}">
                                <h6>Live Link <i class="fas fa-link"></i> </h6>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class='row py-5'>
                    <div class='col'>
                        <h3>Program Attended: {{ data.program_attended }}</h3>
                    </div>
                </div>
            </div>
</body>
{% endblock %} {% block script %}

<script src='../static/js/index.js'></script>
{% endblock %}
